body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orangered 4px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .brand {
    float: left;
    color: orangered;
    font-weight: bold;
}

header .brand h1 {
    margin: 0;
    font-size: 45px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: orangered;
    font-weight: bold;
}

.showcase {
    position: relative;
    display: flex;
    min-height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    border-bottom: orangered 4px solid;
}

.showcase::before {
    content: "";
    background: url('../img/tiger.jpg') no-repeat;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
}

.showcase h1 {
    margin-top: 55px;
    font-size: 55px;
}

.showcase p {
    font-size: 35px;
}

#qoutes {
    padding: 15px;
    color: white;
    text-align: center;
    background: #2a3338;
}

#boxes {
    margin-top: 20px;
}

#boxes .left-box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#boxes .middle-box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#boxes .right-box {
    float: right;
    width: 30%;
    padding: 10px;
    text-align: center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.left-box:hover {
    transform: scale(1.10);
}

.middle-box:hover {
    transform: scale(1.10);
}

.right-box:hover {
    transform: scale(1.10);
}

#boxes img {
    width: 200px;
    height: 300px;
    border-radius: 10%;
}

footer {
    padding: 20px;
    margin-top: 20px;
    background-color: #e8491d;
    text-align: center;
    color: white;
}


/* Media queries */

@media(max-width:768px) {
    header .brand,
    header nav,
    header li,
    #boxes .left-box,
    #boxes .middle-box,
    #boxes .right-box {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    .showcase h1 {
        margin-top: 40px;
    }
}